networks:
  "@gqlfw":

services:
  database:
    image: postgres:16-alpine
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - .docker/database/data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    networks:
      - "@gqlfw"
